* {
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

::-webkit-scrollbar-track:hover {
  background: #e1e1e1;
}


body {
  font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
  line-height: 1.6;
  margin: 2rem 0.5rem;
  background-color: #f7f3f1;
  color: #333;
}
.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
h1 {
  color: #354b39;
  text-align: center;
  border-bottom: 2px solid #bacebe;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
h2 {
  color: #555;
  margin-top: 30px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background: #f0f4f1;
  margin: 10px 0;
  padding: 15px;
  border-left: 5px solid #bacebe;
  border-radius: 5px;
  font-size: 1.1em;
}
.poet {
  font-weight: bold;
  color: #777;
  margin-right: 10px;
}
.dec {
  font-size: 0.7em;
  color: #333;
}
@media (max-width: 500px) {
  .dec {
    display: block;
    text-align: right;
    margin-top: 0.2rem;
  }
}
.open_btn {
  cursor: pointer;
}
.modal_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f4f1;
  padding: 20px 20px 20px 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
#open_window {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  padding: 6rem 5rem 4rem 5rem;
  box-sizing: border-box;
  width: 75vw;
  max-width: 1000px;
  height: 95vh;
  background-color: #f0f4f1;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  border: 0.4rem solid #bacebe;
  border-radius: 1rem;
}
#open_close {
  color: #fff;
  width: 3rem;
  height: 3rem;
  padding: 0;
  font-size: 0;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23555555"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

}
#open_title {
  margin: 0;
}
.open_text {
  font-size: 1.5rem;
  white-space: pre-line;
}
.open_body {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.line-over {
  text-decoration: line-through;
}
#daumRoughmapContainer1763472828594 {
  max-width: 100% !important;
  width: 100% !important;
}

#daumRoughmapContainer1763472828594 .root_daum_roughmap {
  max-width: 100% !important;
}
@media (max-width: 768px) {
  #open_window {
    transform: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    padding: 6rem 1.5rem 2rem 1.5rem;
  }
  .open_text {
    font-size: 1rem;
  }
  .modal_header {
    padding: 20px;
  }
}