body {
  font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
  line-height: 1.6;
  margin: 2rem 0.5rem;
  background-color: #f7f3f1;
  color: #333;
}
.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
h1 {
  color: #354b39;
  text-align: center;
  border-bottom: 2px solid #bacebe;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
h2 {
  color: #555;
  margin-top: 30px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background: #f0f4f1;
  margin: 10px 0;
  padding: 15px;
  border-left: 5px solid #bacebe;
  border-radius: 5px;
  font-size: 1.1em;
}
.poet {
  font-weight: bold;
  color: #777;
  margin-right: 10px;
}
.dec {
  font-size: 0.7em;
  color: #333;
}
@media (max-width: 500px) {
  .dec {
    display: block;
    text-align: right;
    margin-top: 0.2rem;
  }
}
.open_btn {
  cursor: pointer;
}
#open_window {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: blue;
}
.open_body {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.line-over {
  text-decoration: line-through;
}
#daumRoughmapContainer1763472828594 {
  max-width: 100% !important;
  width: 100% !important;
}

#daumRoughmapContainer1763472828594 .root_daum_roughmap {
  max-width: 100% !important;
}
