body {
            font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
            line-height: 1.6;
            margin: 2rem .5rem;
            background-color: #F7F3F1;
            color: #333;
        }
        .container {
            max-width: 800px;
            margin: auto;
            background: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #354B39;
            text-align: center;
            border-bottom: 2px solid #BACEBE;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        h2 {
            color: #555;
            margin-top: 30px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background: #F0F4F1;
            margin: 10px 0;
            padding: 15px;
            border-left: 5px solid #BACEBE;
            border-radius: 5px;
            font-size: 1.1em;
        }
        .poet {
            font-weight: bold;
            color: #777;
            margin-right: 10px;
        }
        .line-over{
            text-decoration: line-through;
        }